@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #020100;

}

#welcome {
    color: #F1D302;
    animation: fadeIn;
    animation-duration: 4s;
}

#sys {
    color: #F1D302;
    animation: fadeIn;
    animation-duration: 5s;
    font-size: 200%;
}

#text {
    color: #FDFFFC;
}

a { 
    color: #ED1C24;
    transition: 0.4s;
    text-decoration: none;
}

a:hover {
    color: #235789;
}

img {
    border-radius: 50%;
    width: 256px;
    animation: fadeIn;
    animation-duration: 2s;
}

#red {
    color: #ED1C24;
}

.fading {
    -webkit-animation-duration: 3s;
    -webkit-animation-name: fading;
    animation-duration: 3s;
    animation-name: fading;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fading {
    from {
        color: #F1D302;
    }
    to {
        color:  #235789;
    }
}
@keyframes fading {
    from {
        color:   #F1D302;
    }
    to {
        color:  #235789;
    }
}

#socials {
    color: #FDFFFC;
}